@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'insta';
  src: url('./font/billabong.ttf');
}
